<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openquartz.easyarchive.starter.mapper.ArchiveConnectionPermissionMapper">

    <resultMap id="BaseResultMap" type="com.openquartz.easyarchive.starter.model.entity.ArchiveConnectionPermission">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="datasource_id" property="datasourceId"/>
        <result column="permission_level" property="permissionLevel"/>
        <result column="grant_source" property="grantSource"/>
        <result column="granted_by_user_id" property="grantedByUserId"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <insert id="insert" parameterType="com.openquartz.easyarchive.starter.model.entity.ArchiveConnectionPermission" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ea_archive_connection_permission (
            user_id, datasource_id, permission_level, grant_source, granted_by_user_id, deleted
        ) VALUES (
            #{userId}, #{datasourceId}, #{permissionLevel}, #{grantSource}, #{grantedByUserId}, 0
        )
    </insert>

    <insert id="batchInsert">
        INSERT INTO ea_archive_connection_permission (
            user_id, datasource_id, permission_level, grant_source, granted_by_user_id, deleted
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.datasourceId}, #{item.permissionLevel}, #{item.grantSource}, #{item.grantedByUserId}, 0)
        </foreach>
    </insert>

    <update id="softDeleteByUserIdAndDatasourceId">
        UPDATE ea_archive_connection_permission
        SET deleted = id, updated_time = CURRENT_TIMESTAMP
        WHERE user_id = #{userId} AND datasource_id = #{datasourceId} AND deleted = 0
    </update>

    <update id="softDeleteByUserId">
        UPDATE ea_archive_connection_permission
        SET deleted = id, updated_time = CURRENT_TIMESTAMP
        WHERE user_id = #{userId} AND deleted = 0
    </update>

    <select id="selectLevelsByUserIdAndDatasourceId" resultType="string">
        SELECT permission_level
        FROM ea_archive_connection_permission
        WHERE user_id = #{userId} AND datasource_id = #{datasourceId} AND deleted = 0
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT id, user_id, datasource_id, permission_level, grant_source, granted_by_user_id,
               created_time, updated_time, deleted
        FROM ea_archive_connection_permission
        WHERE user_id = #{userId} AND deleted = 0
        ORDER BY id DESC
    </select>

    <select id="selectDatasourceIdsByUserIdAndLevel" resultType="long">
        SELECT datasource_id
        FROM ea_archive_connection_permission
        WHERE user_id = #{userId} AND permission_level = #{permissionLevel} AND deleted = 0
    </select>

    <select id="countByUserIdAndDatasourceIdAndLevel" resultType="int">
        SELECT COUNT(1)
        FROM ea_archive_connection_permission
        WHERE user_id = #{userId} AND datasource_id = #{datasourceId} AND permission_level = #{permissionLevel} AND deleted = 0
    </select>

</mapper>
