<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openquartz.easyarchive.starter.mapper.SysOperationLogMapper">

    <resultMap id="BaseResultMap" type="com.openquartz.easyarchive.starter.model.entity.SysOperationLog">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="module_code" property="moduleCode"/>
        <result column="action_code" property="actionCode"/>
        <result column="button_name" property="buttonName"/>
        <result column="biz_type" property="bizType"/>
        <result column="biz_id" property="bizId"/>
        <result column="biz_key" property="bizKey"/>
        <result column="content" property="content"/>
        <result column="request_uri" property="requestUri"/>
        <result column="request_method" property="requestMethod"/>
        <result column="request_param" property="requestParam"/>
        <result column="response_code" property="responseCode"/>
        <result column="result_status" property="resultStatus"/>
        <result column="cost_ms" property="costMs"/>
        <result column="client_ip" property="clientIp"/>
        <result column="error_message" property="errorMessage"/>
        <result column="operate_time" property="operateTime"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.openquartz.easyarchive.starter.model.entity.SysOperationLog"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_operation_log (
            user_id, module_code, action_code, button_name, biz_type, biz_id, biz_key,
            content, request_uri, request_method, request_param, response_code, result_status,
            cost_ms, client_ip, error_message, operate_time
        ) VALUES (
            #{userId}, #{moduleCode}, #{actionCode}, #{buttonName}, #{bizType}, #{bizId}, #{bizKey},
            #{content}, #{requestUri}, #{requestMethod}, #{requestParam}, #{responseCode}, #{resultStatus},
            #{costMs}, #{clientIp}, #{errorMessage}, #{operateTime}
        )
    </insert>

    <sql id="Query_Where">
        <where>
            <if test="request != null and request.startTime != null">
                AND l.operate_time <![CDATA[>=]]> #{request.startTime}
            </if>
            <if test="request != null and request.endTime != null">
                AND l.operate_time <![CDATA[<=]]> #{request.endTime}
            </if>
            <if test="request != null and request.operator != null and request.operator != ''">
                AND (
                    u.username LIKE CONCAT('%', #{request.operator}, '%')
                    OR u.real_name LIKE CONCAT('%', #{request.operator}, '%')
                )
            </if>
            <if test="request != null and request.moduleCode != null and request.moduleCode != ''">
                AND l.module_code = #{request.moduleCode}
            </if>
            <if test="request != null and request.resultStatus != null">
                AND l.result_status = #{request.resultStatus}
            </if>
        </where>
    </sql>

    <select id="selectPage" resultType="com.openquartz.easyarchive.starter.model.dto.OperationLogQueryItem">
        SELECT
            l.id AS id,
            l.operate_time AS operateTime,
            COALESCE(NULLIF(u.real_name, ''), u.username, CAST(l.user_id AS CHAR)) AS operator,
            l.module_code AS moduleCode,
            l.action_code AS actionCode,
            l.button_name AS buttonName,
            COALESCE(NULLIF(l.biz_key, ''), CAST(l.biz_id AS CHAR)) AS bizIdentifier,
            l.content AS content,
            l.result_status AS resultStatus,
            l.error_message AS errorMessage
        FROM sys_operation_log l
        LEFT JOIN sys_user u ON u.id = l.user_id
        <include refid="Query_Where"/>
        ORDER BY l.operate_time DESC, l.id DESC
        LIMIT #{offset}, #{size}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(1)
        FROM sys_operation_log l
        LEFT JOIN sys_user u ON u.id = l.user_id
        <include refid="Query_Where"/>
    </select>

</mapper>
